@import "../../helpers/variables";
@import "../../base/helpers";
@import "../../helpers/mixins";


.advantages {

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 20em;
        padding: 1.7em 1.875em 0 1.875em;

        @include respond-to ('medium') {
            width: 48em;
            padding: 2.8em 3.125em 2.7em 3.125em;
        }

        @include respond-to ('large') {
            padding: 3.3em 17.1875em 3.1em 17.1875em;
            width: 78.125em;
        }
    }

    &__title {
        margin: 0;
        font-size: 1.5625rem;
        line-height: 1.2;

        @include respond-to ('medium') {
            font-size: 2.6875rem;
            line-height: 1.3;
            letter-spacing: -0.01em;
        }

        @include respond-to ('large') {
            font-size: 3.35rem;
            line-height: 1.3;
            letter-spacing: -0.02em;
        }
    }

    &__list {
        margin: 0;
        margin: 1.6em 0 0 0;
        padding: 0;
        list-style: none;
        font-size: 1.0625rem;
        line-height: 1.18;
        font-weight: 700;

        @include respond-to ('medium') {
            display: flex;
            flex-wrap: wrap;
            font-size: 1.25rem;
            line-height: 1.1;
        }

        @include respond-to ('large') {
            margin: 1.4em 0 0 0;
        }
    }

    &__item {
        position: relative;
        padding-top: 3.4375em;
        padding-bottom: 1.4em;

        @include respond-to ('medium') {
            padding-bottom: 2.1em;
        }

        @include respond-to ('medium') {
            width: 50%;
        }

        p {
            margin: 0;
        }

        &--ecology {

            @include respond-to ('medium') {
                order: 1;
            }

            > p {
                padding-right: 4em;
                
                @include respond-to ('medium') {
                    padding-right: 6em;
                }
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0.3em;
                left: 0.4em;
                display: block;
                width: 1.998rem;
                height: 2.331rem;
                background-image: url(../../assets/img/svg/flower.svg);

                @include respond-to ('medium') {
                    top: 0.8em;
                }
            }
        }

        &--scandinavian {

            @include respond-to ('medium') {
                order: 3;
            }

            > p {
                padding-right: 3em;

                @include respond-to ('medium') {
                    padding-right: 4em;
                }

                @include respond-to ('large') {
                    padding-right: 5em;
                }
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0.4em;
                display: block;
                width: 2.911rem;
                height: 1.708rem;
                background-image: url(../../assets/img/svg/money.svg);
                background-repeat: no-repeat;

                @include respond-to ('medium') {
                    top: 0.9em;
                }
            }
        }

        &--likes {

            @include respond-to ('medium') {
                order: 5;
            }

            > p {
                padding-right: 4em;

                @include respond-to ('medium') {
                    padding-right: 5em;
                }

                @include respond-to ('large') {
                    padding-right: 6em;
                }
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0.6em;
                left: 0.4em;
                display: block;
                width: 2.07rem;
                height: 1.74rem;
                background-image: url(../../assets/img/svg/heart.svg);
                background-repeat: no-repeat;

                @include respond-to ('medium') {
                    top: 1.1em;
                }
            }
        }

        &--handmade {

            @include respond-to ('medium') {
                order: 2;
            }

            > p {
                padding-right: 2.5em;
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0.5em;
                left: 0.2em;
                display: block;
                width: 2.15rem;
                height: 2.15rem;
                background-image: url(../../assets/img/svg/clew.svg);
                background-repeat: no-repeat;

                @include respond-to ('medium') {
                    top: 1em;
                }
            }
        }

        &--domestic {

            @include respond-to ('medium') {
                order: 4;
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0.6em;
                left: -0.4em;
                display: block;
                width: 3.385rem;
                height: 1.45rem;
                background-image: url(../../assets/img/svg/rocket.svg);
                background-repeat: no-repeat;

                @include respond-to ('medium') {
                    top: 1em;
                }
            }
        }

        &--gift {

            @include respond-to ('medium') {
                order: 6;
            }

            > p {
                padding-right: 2.5em;

                @include respond-to ('large') {
                    padding-right: 5em;
                }
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0.6em;
                left: 0.2em;
                display: block;
                width: 2.04rem;
                height: 2.04rem;
                background-image: url(../../assets/img/svg/gift.svg);
                background-repeat: no-repeat;

                
                @include respond-to ('medium') {
                    top: 1em;
                }
            }
        }
    }
}