@import "../../helpers/variables";
@import "../../base/helpers";
@import "../../helpers/mixins";


.modal-order {
    position: fixed;
    top: 50%;
    left: 50%;
    // display: none;
    flex-direction: column;
    width: 20em;
    padding: 2.45em 1.875em 2.45em 1.875em;
    transform: translate(-50%,-50%);

    @include respond-to ('medium') {
        width: 35.4375em;
        padding: 2.875em 6.8125em 2.875em 6.8125em;
    }

    &__title {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0 2.1em;
        font-size: 1.5625rem;
        line-height: 1.2;
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        @include respond-to ('medium') {
            padding: 0 0;
            font-size: 1.875rem;
            line-height: 1.9;
        }
    }

    &__action {
        display: block;
        width: 100%;
        margin-top: 0.8em;
        margin-bottom: 0;
        font-size: 0.9375rem;
        text-align: center;
        line-height: 2;

        @include respond-to ('medium') {
            margin-top: 0.6em;
            font-size: 1.0625rem;
            line-height: 1.765;
        }
    }

    &__sizes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 0.8em;
        margin-bottom: 0;
        padding-left: 0;
        font-size: 1.0625rem;
        line-height: 1;
        font-weight: 700;
        list-style: none;

        @include respond-to ('medium') {
            margin-top: 1.529em;
        }
    }

    &__size {
        width: 4.823em;
        padding: 0.912em 0;
        margin-bottom: 0.5em;
        text-align: center;
        border: 2px solid #ececec;

        @include respond-to ('medium') {
            width: 6.588em;
        }

        &:hover {
            border: 2px solid #63d1bb;;
        }

        &:active {
            border: 2px solid #63d1bb;;
        }
    }

    &__btn {
        margin-top: 1.9375em;
        border: none;

        @include respond-to ('medium') {
            margin-top: 2em;
        }
    }
}
