.main-footer {

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 1.5em 1.875em 0 1.875em;
        background-color: #f1f1f1;

        @include respond-to ('medium') {
            flex-direction: row;
            justify-content: space-between;
            padding: 3.2em 3.125em 3em 3.125em;
        }

        @include respond-to ('large') {
            padding: 3.2em 6.25em 3.3em 6.25em;
        }
    }

    &__logo {
        display: none;

        @include respond-to ('medium') {
            display: block;
            width: 11.3em;
        }

        &:hover {
            opacity: 0.5;
          }
        
          &:active{
            opacity: 0.3;
          }
    }

    &__social-networks {
        padding-bottom: 1.4em;
        border-bottom: 1px solid #e5e5e5;

        @include respond-to ('medium') {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__developer {
        display: flex;
        justify-content: center;

        &:hover {
             svg {
                fill: #46c1ae;
            }
        }

        &:active {
            opacity: 0.3;
       }
    }

    &__developer-name {
        display: inline-block;
        margin: 0;
        padding: 1.5em 1.5em 1.5em 0;
        font-size: 1.1875rem;
        font-weight: 700;
        line-height: 1;
        color: #000000;

        @include respond-to ('medium') {
            padding: 0.6em 1.5em 0 0;
        }
    }

    &__developer-icon {
        align-self: center;
        fill: #63d1bb;

        @include respond-to ('medium') {
            align-self: flex-end;
        }
    }
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 16.25em;
    margin: 0;
    padding-left: 0;
    list-style: none;

    @include respond-to ('medium') {
        align-items: flex-end;
    }

    li + li {
        padding-left: 2.6em;
    } 
}

.social-network {

    > a {
        &:hover {
            fill: #63d1bb;
        }

        &:active {
            fill: #d0f1ea;
        }
    }
}
